<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
Name: <input type="text" name="landmark[name]" id="landmark_name">
Year: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
<input type="submit" value="Create New Landmark" name="submit" id="submit">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
